@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.results-box {
  background: linear-gradient(#1e293b, #1e293b) padding-box,
    linear-gradient(90deg, #9333ea, #db2777) border-box;
  border: 3px solid transparent;
}
